body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#bg-color{
    background-color:  #3d3c3c ; 
}

.black-bg-color{
    background-color:#0D0D0D;
}

#banner-style{
    height: 360px;
    background-color: black;
    position: relative;
    width: 100%;
}

.fancy-font{
    font-family: 'Berkshire Swash', sans-serif;
    color: #FF5E19;
}

.sketch-underline-white{
    background: url(../images/underline/white.PNG) bottom right no-repeat;
    background-size: 100% 30px;
    padding-bottom: 20px;
}

.sketch-underline-orange{
    background: url(../images/underline/orange.PNG) bottom right no-repeat;
    background-size: 100% 30px;
    padding-bottom: 30px;
}

.btn.btn-primary[disabled] {
    background-color: grey;
}