body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

#bg-color{
    background-color:  #3d3c3c ; 
}

#banner-style{
    height: 360px;
    background-color: black;
    position: relative;

}

#banner-style::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 70%;
    border-color: transparent transparent transparent ;
    border-width: 3px;
    border-style: solid;
    top: 90%;
    left: 85%;
    border-radius:50%;
    transform: rotate(75deg);
    background-color: #3d3c3c;
  }

.fancy-font{
    font-family: 'Berkshire Swash', sans-serif;
    color: #FF5E19;
}

.sketch-underline-white{
    background: url(../images/underline/white.PNG) bottom right no-repeat;
    background-size: 100% 30px;
    padding-bottom: 20px;
    }